body{
	font-family: "monospace";
}
/*.note-container{
	position: fixed;
	width: 80%;
	margin:0px auto;
	padding: 0px;
	left:10%;
}*/

.takeanote-header{
	/*float: right;*/
	background: #B52D0F;
	cursor: pointer;
	padding: 0px 15px;
	height: 40px;
	line-height: 40px;
	color: #FFF;
	width:300px;
	/*border-radius: 3px 3px 0px 0px;*/

}

.takeanote-header:hover{
	/*background: #C52B09;*/
}

.takeanote-header p{
	padding: 0px;
	margin: 0px;
}

.note-count{
	float: right;
	width:25px;
	height:25px;
	border-radius: 50%;
	line-height: 25px;
	text-align: center;
	background: #97A719;
	margin-top: 8px;
	font-size: 13px;
	padding: 0px;
}

.takeanote-body{
	border: 1px solid #332828;
	min-height:300px;
	background: #332828; 
	color: #FFF;
	padding: 0px 15px;
}

.takeanote-footer{
	border: 1px solid #332828;
	text-align: center;
	background: #291E1E;
	color: #FFF;
	height: 25px;
	font-size: 14px;
	line-height: 25px;
}

.takeanote-footer p{
	padding: 0px;
	margin: 0px;
}
