/*.note-container{
	position: fixed;
	width: 80%;
	margin:0px auto;
	padding: 0px;
	left:10%;
}*/

.note-container{
	font-family: calibri;
	z-index: 2;
	/*Prohibit Selection*/
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.overlay {
	position : fixed;
	top      : 0px;
	left     : 0px;
	background : rgba(0, 0, 0, 0.5);
	/*Prohibit selection*/
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.takeanote-header{
	/*float: right;*/
	/*background: #B52D0F;*/
	cursor: pointer;
	padding: 0px 15px;
	height: 40px;
	line-height: 40px;
	color: #FFF;
	width:300px;
	border: 2px solid #A92104;
	/*border-radius: 3px 3px 0px 0px;*/

}

.takeanote-header:hover{
	/*background: #C52B09;*/
}

.takeanote-header p{
	padding: 0px;
	margin: 0px;
}

.note-count{
	float: right;
	width:25px;
	height:25px;
	border-radius: 50%;
	line-height: 25px;
	text-align: center;
	background: #800300;
    border: 2px solid #540401;
    margin-top: 6px;
	font-size: 13px;
	padding: 0px;
}

.takeanote-body{
	border: 1px solid #332828;
	min-height:300px;
	background: #332828; 
	color: #FFF;
	padding: 0px 15px;
	overflow-y:auto;
}

.takeanote-body ul{
	margin: 20px 0px;
	padding: 0px;
}

.takeanote-body ul li{
	margin: 10px 0px;
	padding: 10px;
	list-style: none;
	border: 1px solid #CCC;
}

.takeanote-footer{
	border: 1px solid #332828;
	text-align: right;
	background: #291E1E;
	color: #FFF;
	height: 25px;
	font-size: 12px;
	font-family: calibri;
	line-height: 25px;
	padding: 0px 15px;
}

.takeanote-footer p{
	padding: 0px;
	margin: 0px;
}

.note-element{
	background: #CDCDCD;
}
